name: CI BackEnd Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

env:
  NAMESPACE: ahmad
  DEPLOYMENT: backend
  CONTAINER: backend
  IMAGE: ghcr.io/${{ github.repository_owner }}/my-backend
  K8S_DIR: /home/ahmad-jaber/k8s

jobs:
  docker:
    name: Build & Push Docker Image to GHCR
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ github.sha }}
            ${{ env.IMAGE }}:latest

  deploy:
    runs-on: self-hosted
    needs: docker
    steps:
      - uses: actions/checkout@v4
  
      - name: Use kubeconfig (already on laptop)
        run: |
          kubectl config current-context
          kubectl get ns
          kubectl -n ahmad get pods
  
      - name: Deploy
        run: |
          kubectl -n ahmad apply -f k8s/
          kubectl -n ahmad rollout status deploy/backend --timeout=180s
          kubectl -n ahmad rollout status deploy/frontend --timeout=180s
