name: CI BackEnd Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

env:
  NAMESPACE: ahmad
  DEPLOYMENT: backend
  CONTAINER: backend
  IMAGE: ghcr.io/${{ github.repository_owner }}/my-backend
  K8S_DIR: /home/ahmad-jaber/k8s

jobs:
  docker:
    name: Build & Push Docker Image to GHCR
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ github.sha }}
            ${{ env.IMAGE }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.30.0
  
      - name: Write kubeconfig from secret
        shell: bash
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
          kubectl -n $NAMESPACE get deploy
  
      - name: Rollout restart backend
        shell: bash
        run: |
          kubectl -n $NAMESPACE rollout restart deploy/backend
          kubectl -n $NAMESPACE rollout status deploy/backend --timeout=180s
  
      - name: Show pods
        run: |
          kubectl -n $NAMESPACE get pods -o wide
  
